.form-page {
    &__content {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        @include adaptiveValue("padding-top", 40, 30, 1520, 479.98, 1);
        @include adaptiveValue("padding-bottom", 50, 30, 1520, 479.98, 1);
    }

    &__form {
        flex: 1 1 auto;
    }
}

//========================================================================================================================================================

.form {
    &__step {
        display: none;
        &._active {
            display: block;
        }
    }

    &__finish {
        display: none;
        &._active {
            display: block;
        }
    }
}

//========================================================================================================================================================

.progress {
    @include adaptiveValue("margin-bottom", 60, 30);
    align-items: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    @media (min-width: $mobile) {
        gap: rem(100);
        display: inline-flex;
    }
    &__line {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        width: 100%;
        height: rem(2);
        background-color: $greyColor_3;
        z-index: -1;
        &_success {
            transition: width 0.3s ease 0s;
            position: absolute;
            width: 0;
            height: 100%;
            top: 0;
            left: 0;
            background-color: $primaryColor;
        }
    }

    &__step {
        display: flex;
        justify-content: center;
        align-items: center;
        height: rem(50);
        width: rem(50);
        flex: 0 0 rem(50);
        border-radius: 50%;
        background-color: $lightColor;
        border: rem(2) solid $lightBlue;
        transition: background-color 0.3s ease 0s, border 0.3s ease 0s;
        &::before {
            transition: color 0.3s ease 0.2s;
            color: $greyColor_1;
            @media (max-width: $mobileSmall) {
                transform: scale(0.9);
            }
        }

        &._active {
            transition: background-color 0.3s ease 0.2s, border 0.3s ease 0.2s;
            background-color: $primaryColor;
            border: rem(1) solid transparent;
            &::before {
                color: $lightColor;
            }
        }
        @media (max-width: $mobileSmall) {
            width: rem(40);
            height: rem(40);
            flex: 0 0 rem(40);
        }
    }
}

//========================================================================================================================================================

.profile-step {
    &__body {
        display: flex;
        @include adaptiveValue("gap", 40, 30, 991.98, 767.98, 1);
        @media (max-width: $mobile) {
            flex-wrap: wrap;
        }
    }

    &__file {
        flex: 0 0 rem(360);
        height: rem(360);
        background-color: $lightBlue;
        border: rem(2) dashed $mainColor;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: rem(20);
        cursor: pointer;
        transition: background-color 0.3s ease 0s, border 0.3s ease 0s;
        position: relative;
        @media (any-hover: hover) {
            &:hover {
                border: rem(2) dashed $greyColor_1;
                background-color: $greyColor_3;
            }
        }
        @media (max-width: $tablet) {
            flex: 0 0 rem(240);
            height: rem(240);
        }
        @media (max-width: $mobile) {
            flex: 1 1 100%;
        }
    }

    &__file-input {
        display: none;
    }

    &__image-ibg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &__file-text {
        font-weight: 500;
        font-size: rem(20);
        line-height: math.div(22, 20);
        &::before {
            margin-bottom: rem(30);
            font-size: rem(60);
            text-align: center;
        }
    }

    &__label {
    }

    &__inputs {
        flex: 0 1 rem(720);
        .input {
            max-width: none;
        }
        @media (max-width: $mobile) {
            flex: 1 1 100%;
        }
    }

    &__form {
        &::before {
            color: $greyColor_1;
        }
        &:not(:last-child) {
            margin-bottom: rem(10);
        }
    }
}

.intrested-step {
    &__body {
        margin-top: rem(40);
    }

    &__row {
        &:not(:last-child) {
            margin-bottom: rem(30);
        }
    }

    &__elements {
        display: flex;
        gap: rem(10);
        flex-wrap: wrap;
        max-width: rem(1200);
    }

    &__item {
        cursor: pointer;
        position: relative;
    }

    &__checkbox {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        &:checked + .intrested-step__checkbox-text {
            color: $mainColor;
            border: rem(1) solid $mainColor;
        }
    }

    &__checkbox-text {
        font-weight: 500;
        font-size: rem(18);
        line-height: math.div(20, 18);
        color: $greyColor_1;
        padding: rem(5) rem(25);
        min-height: rem(50);
        background: $lightColor;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: rem(1) solid $greyColor_3;
        transition: border 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                border: rem(1) solid $mainColor;
            }
        }
    }
}

.about-step {
    &__top {
    }

    &__body {
        display: flex;
        gap: rem(10) 0;
        @media (max-width: $mobile) {
            flex-direction: column;
        }
        @media (min-width: $mobile) {
            flex-wrap: wrap;
            max-width: rem(920);
            margin: 0px rem(-5);
        }
    }

    &__input {
        margin-bottom: rem(0);
        @media (min-width: $mobile) {
            padding: 0px rem(5);
            flex: 0 1 50%;
        }
    }

    &__textarea {
        textarea {
            height: rem(240);
        }
        @media (min-width: $mobile) {
            padding: 0px rem(5);
            flex: 1 1 100%;
        }
        @media (max-width: $mobileSmall) {
            margin-bottom: rem(0);
        }
    }
}

//========================================================================================================================================================

.finish-step {
    @media (min-width: $mobile) {
        max-width: rem(600);
    }
    &__image {
        margin: rem(40) 0;
        max-width: rem(80);
        @media (max-width: $mobile) {
            margin: 0px 0px rem(20) 0px;
        }
        img {
            max-width: 100%;
        }
    }

    &__title {
    }

    &__text {
        p {
            &:not(:last-child) {
                margin-bottom: rem(10);
            }
        }
    }

    &__label {
        margin-bottom: rem(10);
    }

    &__button {
        gap: rem(10);
        margin-top: rem(20);
        min-width: rem(340);
        @media (any-hover: hover) {
            &:hover {
                border: rem(1) solid $primaryColor;
                color: $primaryColor;
                svg {
                    fill: $primaryColor;
                }
            }
        }
        @media (max-width: $mobileSmall) {
            min-width: 0;
            svg {
                display: none;
            }
        }
    }
}
