.checkbox {
    position: relative;

    &__input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        &:focus + .checkbox__label {
            border: rem(1) solid $primaryColor;
            background-color: $lightColor;
            box-shadow: 0px rem(10) rem(20) rgba(116, 120, 135, 0.1);
        }
        &:checked + .checkbox__label {
            border: rem(1) solid $primaryColor;
            background-color: $lightColor;
            box-shadow: 0px rem(10) rem(20) rgba(116, 120, 135, 0.1);
            .checkbox__icon {
                opacity: 1;
            }
        }
        &:checked + .checkbox__label:after {
            border: rem(1) solid $primaryColor;
            background-color: $primaryColor;
        }
    }

    &__label {
        width: 100%;
        position: relative;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        gap: rem(20);
        padding: rem(10) rem(25) rem(10) rem(10);
        background-color: $lightBlue;
        cursor: pointer;
        border: rem(1) solid transparent;
        transition: all 0.3s ease 0s;
        &:after {
            content: "";
            flex: 0 0 rem(30);
            width: rem(30);
            height: rem(30);
            transition: all 0.3s ease 0s;
            border: rem(1) solid $greyColor_3;
            background-color: $lightColor;
            border-radius: rem(5);
        }
    }

    &__icon {
        transition: all 0.3s ease 0s;
        position: absolute;
        top: 50%;
        transform: translate(0px, -50%);
        right: rem(30);
        z-index: 2;
        opacity: 0;
    }

    &__img {
        flex: 0 0 rem(60);
        background-color: $lightColor;
        padding: rem(10);
        img {
            max-width: 100%;
        }
    }

    &__text {
        flex: 1 1 auto;
        font-weight: 500;
        line-height: math.div(22, 20);
        font-size: rem(20);
    }
}
