.option {
    position: relative;
    cursor: pointer;

    &__input {
        width: 0;
        height: 0;
        opacity: 0;
        position: absolute;
        &:checked + .option__label {
            border: rem(1) solid $primaryColor;
            background-color: $lightColor;
        }
        &:checked + .option__label:before {
            border: rem(1) solid $primaryColor;
        }
        &:checked + .option__label:after {
            transform: translate(0, -50%);
            opacity: 1;
        }
    }

    &__label {
        width: 100%;
        display: inline-flex;
        align-items: center;
        flex-direction: row-reverse;
        padding: rem(9) rem(25) rem(9) rem(10);
        gap: rem(20);
        background-color: $lightBlue;
        cursor: pointer;
        border: rem(1) solid transparent;
        transition: border 0.3s ease 0s, background-color 0.3s ease 0s, box-shadow 0.3s ease 0s;
        min-height: rem(80);
        &:before {
            content: "";
            width: rem(30);
            height: rem(30);
            flex: 0 0 rem(30);
            border-radius: 50%;
            background-color: $lightColor;
            border: rem(1) solid $greyColor_3;
            transition: border 0.3s ease 0s;
        }
        &:after {
            content: "";
            transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
            transform: translate(0, -50%);
            width: rem(20);
            height: rem(20);
            border-radius: 50%;
            background-color: $primaryColor;
            position: absolute;
            right: rem(31);
            top: 50%;
            opacity: 0;
        }
        &:focus {
            outline: transparent solid rem(1);
            border: rem(1) solid $primaryColor;
            background-color: $lightColor;
            box-shadow: 0px rem(1) rem(20) rgba(116, 120, 135, 0.1);
        }
    }

    &__text {
        flex: 1 1 auto;
        font-weight: 500;
        line-height: math.div(22, 20);
        font-size: rem(20);
    }
    &__img {
        background-color: $lightColor;
        padding: rem(10);
        flex: 0 0 rem(60);
        width: rem(60);
        img {
            max-width: 100%;
        }
    }
}
