// Заголовки, общие БЄМ блоки и проче...
.logo {
    display: inline-flex;
    margin-bottom: rem(90);
    @include adaptiveValue("margin-bottom", 90, 60);
    img {
        max-width: 100%;
    }
}
.title {
    font-weight: 500;
    font-size: rem(50);
    line-height: math.div(56, 50);
    margin-bottom: rem(10);
    @media (max-width: $mobile) {
        font-size: rem(40);
    }
}
.text {
    font-size: rem(20);
    line-height: math.div(22, 20);
    margin-bottom: rem(40);
    color: $greyColor_1;
}
.label {
    font-weight: 500;
    line-height: math.div(28, 25);
    font-size: rem(25);
    margin-bottom: rem(20);
}

//========================================================================================================================================================

.top {
    @media (min-width: $mobile) {
        max-width: 600px;
    }
    &__title {
    }

    &__text {
    }

    &__input {
    }
}

.input-form {
    &__icon {
    }

    &__input {
    }
}
