.logo {
    display: inline-flex;
    @include adaptiveValue("margin-bottom", 90, 60, 991.98, 479.98, 1);
    img {
        max-width: 100%;
    }
}
.title {
    font-weight: 500;
    @include adaptiveValue("font-size", 50, 40, 991.98, 767.98, 1);
    line-height: math.div(56, 50);
    margin-bottom: rem(10);
}
.text {
    font-size: rem(20);
    line-height: math.div(22, 20);
    color: $greyColor_1;
}
.label {
    font-weight: 500;
    line-height: math.div(28, 25);
    font-size: rem(25);
    margin-bottom: rem(20);
}

//========================================================================================================================================================

.top {
    position: relative;
    margin-bottom: rem(40);
    @media (min-width: $mobile) {
        max-width: rem(600);
    }

    &__input {
        margin-top: rem(40);
    }

    &__chosed {
        margin-bottom: rem(20);
    }

    ._form-error {
    }
}

.grid {
    max-width: rem(1120);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(20);
    @media (max-width: $tablet) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $mobile) {
        grid-template-columns: 1fr;
    }
}

//========================================================================================================================================================

.page404 {
    @include adaptiveValue("padding-top", 70, 30, 1520, 479.98, 1);
    @include adaptiveValue("padding-bottom", 60, 30, 1520, 479.98, 1);
    &__container {
    }

    .text {
        margin-bottom: rem(40);
    }

    &__button {
        min-width: rem(200);
        @media (max-width: $mobileSmall) {
            width: 100%;
        }
    }
}

//========================================================================================================================================================

.spinner {
    text-align: center;
    margin: rem(100) auto;
    @include adaptiveValue("width", 400, 150, 991.98, 479.98, 1);
    @include adaptiveValue("height", 300, 150, 991.98, 479.98, 1);
    max-width: 60%;
    svg {
        max-width: 100%;
        circle {
            fill: $mainColor;
        }
    }
}
